<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content,title,script,link)">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}"></title>
    <link rel="stylesheet" th:href="@{/common-assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/common-assets/css/index.css}">
    <link rel="stylesheet" th:href="@{/common-assets/css/all.css}">
    <link rel="stylesheet" href="" th:replace="${link}">
</head>

<body>
    <div class="container-fluid">
        
        <div th:replace="${content}"></div>
        
    </div>

</body>
<script th:src="@{/common-assets/lib/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/common-assets/lib/moment.min.js}"></script>
<!-- <script th:src="@{/common-assets/js/bootstrap.min.js}"></script> -->
<script th:src="@{/common-assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/common-assets/js/index.js}"></script>
<script th:replace="${script}" src=""></script>

</html>