.friends-selection-section{
    position: relative;
}

#not-friend-list{
    position: absolute;
    display: block;
    width: 100%;
    transform: scale(0,1);
    transition: transform ease-in-out .6s;
    transform-origin: left;
    
}
#friend-list{
    position: absolute;
    display: block;
    width: 100%;
    transform: scale(1,1);
    transition: transform ease-in-out .6s;
    transform-origin: right;
    color: white;
}
#not-friend-list .list-of-no-friend{
    color: white;
    border-radius: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 3px;
    align-items: center;
}
#not-friend-list .list-of-no-friend .user-add{
    background-color: green;
}
#not-friend-list .list-of-no-friend .user-add i{
    border: 1px solid white;
    padding: 3px 3px;
    /* border-radius: 50%; */
    cursor: pointer;
    font-size: 20px;
}

#friend-list .list-of-friend{
    color: white;
    border-radius: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 3px;
    align-items: center;
}

#friend-list .list-of-friend .user-remove{
    background-color: red;
}
#friend-list .list-of-friend .user-remove i{
    border: 1px solid white;
    padding: 3px 3px;
    /* border-radius: 50%; */
    cursor: pointer;
    font-size: 20px;
}

#my-friends{
    background-color: #f76b2a;
    color: white;

}
#not-my-friends{
    background-color: #f76b2a;
    color: white;

}

/* /////////////////////////////////Notification/////////////////////////// */
#notification-logo{
    position: absolute;
    font-size: 30px;
    left: 0px;
    top: -8px;
    background-color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size:16px;
    text-align: center;
    padding-bottom: 4px;
}

/* /////////////////////////////////Profile pop up/////////////////////////// */

#profile-pop-up{
    top: 230px;
    left: 50%;
    transform: translate(-50%);
    z-index: 500;
    background-color: rgb(218, 212, 212);
    position: absolute;
    transform-origin: center;
    transition: transform ease-in-out 0.9s;
}

/* ///////////////////////////////////Chat section starts here//////////////////////////// */
#chat-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#chat-main .message-section{
    height: 430px;
    overflow: auto;
}
#chat-main .message-section .left-div{
    /* border: 1px solid black; */
    margin-bottom: 5px;
    overflow:auto;    
    
}
.left-div .left-msg{
    min-width: 20%;
    max-width: 70%;
    background-color: red;
    border-radius: 18px;
    padding: 5px;
    padding-left: 10px;
    float: left;
    box-shadow: 4px 3px 3px 2px gray;
    margin-bottom: 6px;
    
}
.left-div .left-time{
    color: white;
    background-color: rgb(229, 223, 223);
    float: left;
    height: 25px;
    width: 33px;
    padding: 2px;
    border-radius: 50%;
    margin-left: 3px;
    margin-right: 4px;
    font-size: 12px;
    overflow: hidden;
}

#chat-main .message-section .right-div{
    /* border: 1px solid black; */
    margin-bottom: 5px;
    overflow:auto;
}

.right-div .right-msg{
    min-width: 20%;
    max-width: 70%;
    background-color: rgb(23, 209, 32);
    border-radius: 18px;
    padding: 5px;
    padding-left: 10px;
    float: right;
    box-shadow: 4px 3px 3px 2px gray;
    margin-bottom: 6px;
}
.right-div .right-time{
    color: white;
    background-color: rgb(229, 223, 223);
    float: right;
    height: 25px;
    width: 33px;
    padding: 2px;
    border-radius: 50%;
    margin-left: 4px;
    margin-right: 3px;
    font-size: 12px;
    overflow: hidden;
}