#chat-templete{
	background-color: #f0f0ff;
}

.friends-selection-section {
	position: relative;
}

#not-friend-list {
	position: absolute;
	display: block;
	width: 100%;
	transform: scale(0, 1);
	transition: transform ease-in-out .6s;
	transform-origin: left;
}

#friend-list {
	position: absolute;
	display: block;
	width: 100%;
	transform: scale(1, 1);
	transition: transform ease-in-out .6s;
	transform-origin: right;
	/* color: white; */
}

#not-friend-list .list-of-no-friend {
	color: white;
	border-radius: 10px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	padding: 0 3px;
	align-items: center;
}

#not-friend-list .list-of-no-friend .user-add {
	background-color: green;
}

#not-friend-list .list-of-no-friend .user-add i {
	border: 1px solid white;
	padding: 3px 3px;
	/* border-radius: 50%; */
	cursor: pointer;
	font-size: 20px;
}

#friend-list .list-of-friend {
	color: black;
	border-radius: 10px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	padding: 0 3px;
	align-items: center;
	background-color:white;
}

#friend-list .list-of-friend .user-remove {
	background-color: red;
}

#friend-list .list-of-friend .user-remove i {
	border: 1px solid white;
	padding: 3px 3px;
	/* border-radius: 50%; */
	cursor: pointer;
	font-size: 20px;
}

#my-friends {
	background-color: #f76b2a;
	/* color: white; */
}

#not-my-friends {
	background-color: #ffe7c7;
	/* color: white; */
}

/* /////////////////////////////////Notification/////////////////////////// */
#notification-logo {
	position: absolute;
	font-size: 30px;
	left: 0px;
	top: -8px;
	background-color: white;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	font-size: 16px;
	text-align: center;
	padding-bottom: 4px;
}

/* /////////////////////////////////Profile pop up/////////////////////////// */
#profile-pop-up {
	top: 230px;
	left: 50%;
	transform: translate(-50%);
	z-index: 500;
	background-color: rgb(218, 212, 212);
	position: absolute;
	transform-origin: center;
	transition: transform ease-in-out 0.5s;
}

/* ///////////////////////////////////Chat section starts here//////////////////////////// */
#chat-main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#chat-main .message-section {
	height: 430px;
	overflow: auto;
}

#chat-main .message-section .left-div {
	/* border: 1px solid black; */
	margin-bottom: 5px;
	overflow: auto;
}

.left-div .left-msg {
	min-width: 20%;
	max-width: 70%;
	background-color: white;
	border-radius: 18px;
	padding: 5px;
	padding-left: 10px;
	float: left;
	box-shadow: 3px 2px 2px 1px gray;
	margin-bottom: 6px;
	word-break: break-word;
	font-weight: 500;
}

.left-div .left-msg-img {
	width: 110px;
	max-height: 130px;
	padding: 3px;
	overflow: hidden;
	float: left;
	box-shadow: 3px 2px 2px 1px gray;
	margin-bottom: 6px;
}

.left-div .left-time {
	color: white;
	background-color: rgb(229, 223, 223);
	float: left;
	height: 25px;
	width: 33px;
	padding: 2px;
	border-radius: 50%;
	margin-left: 3px;
	margin-right: 4px;
	font-size: 12px;
	overflow: hidden;
}

#chat-main .message-section .right-div {
	/* border: 1px solid black; */
	margin-bottom: 5px;
	overflow: auto;
}

.right-div .right-msg {
	min-width: 20%;
	max-width: 70%;
	background-color: #62ff62;
	border-radius: 18px;
	padding: 5px;
	padding-left: 10px;
	float: right;
	box-shadow: -3px 2px 2px 1px gray;
	margin-bottom: 6px;
	/* overflow: hidden; */
	word-break: break-word;
	font-weight: 500;
}

.right-div .right-time {
	color: white;
	background-color: rgb(229, 223, 223);
	float: right;
	height: 25px;
	width: 33px;
	padding: 2px;
	border-radius: 50%;
	margin-left: 4px;
	margin-right: 3px;
	font-size: 12px;
	overflow: hidden;
}

.right-div .right-msg-img {
	width: 110px;
	max-height: 130px;
	padding: 3px;
	overflow: hidden;
	float: right;
	box-shadow: -3px 2px 2px 1px gray;
	margin-bottom: 6px;
}
/* ///////////////////ALert///////////////////////////////// */
.fade-model {
	display: none !important;
}

.show-model {
	display: block !important;
}

.show-element{
	opacity: 1 !important;
}

.hide-element{
	opacity: 0;
}

/* ///////////////////////////Loader////////////////////////////// */
.back-drop{
	position: absolute;
    background-color: gray;
    width: 100vw;
    height: 100vh;
    z-index: 2000 !important;
    opacity: 0.3;
    padding: 0;
}
.my-loader{
	position: absolute;
	width: 15%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2100 !important;
}

/* ////////////////////////////////////Drop down for more Option////////////////////////////////////////////// */

#profile-more-options{
	font-size: 25px;
}

#more-option{
	position: absolute;
	background-color: #e4e7e6;
	right: 17px;
	top: 40px;
	list-style: none;
	width: 130px;
	padding: 0;
	transform: scale(1, 0);
	transform-origin: top;
	transition: transform ease-in-out .3s;
}
#more-option li{
	display: block;
	text-align: center;
	border-bottom: 0.5px solid white;
	padding: 5px 0;
	font-weight: 600;
	cursor: pointer;
}
#more-option li:last-child {
	border-bottom: none;
}
#more-option li:hover {
	background-color: #ffffff;
}
/* ///////////////////////////////////////////////Custom Css//////////////////////////////////////////////////// */
.cstm-shadow{
	box-shadow: 0px -2px 2px rgba(224, 225, 229, 0.52);
}

#not-my-friends{
	position: relative;
}
#not-my-friends::before {
	content: "Add friend";
	position: absolute;
	left:0;
	top:-25px;
	background: #e8e8e8;
	box-shadow: 4px 4px 5px 3px rgba(224, 225, 229, 0.52);
	border-radius: 5px;
	padding: 2px 4px;
	opacity: 0.7;
	display: none;
	color:black;
	font-size: 11px;
	
}

#not-my-friends:hover:before{
	display: block;
}


#my-friends{
	position: relative;
}
#my-friends::before {
	content: "Friend";
	position: absolute;
	right:0;
	top:-25px;
	background: #e8e8e8;
	box-shadow: 4px 4px 5px 3px rgba(224, 225, 229, 0.52);
	border-radius: 5px;
	padding: 2px 4px;
	opacity: 0.7;
	display: none;
	color:black;
	font-size: 11px;
	
}

#my-friends:hover:before{
	display: block;
}

#menu-bar{
	display: none;
}

/* //////////////////////////////////////////////////////Notification releted////////////////////////////////////// */
#notification-list .list-of-notification-msg{
	border-radius: 10px;
	height: 50px;
	display: flex;
	justify-content: space-around;
	padding: 0 3px;
	align-items: center;
	cursor: pointer;
}
#notify-modal-body{
	overflow: auto;
	height: 350px;
}
#notify-modal-body .left-div{
	/* border: 1px solid black; */
	margin-bottom: 5px;
	overflow: auto;
} 


/* ////////////////////////////////////////////////////Media Queries//////////////////////////////////////////////// */
@media only screen and (max-width: 576px) {
	#friend-sidebr{
		/* position: absolute !important;
		display: none !important;
		width: 200px;
		background-color: #f9e4db;
		z-index: 1000; */
		width: 200px !important;
	}

	/* #menu-bar{
		display: block;
	}
	#chat-main{
		height: 550px;
	} */
}
